body {
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    color: #dfdbdb;

}
svg{
    width: 30px;
}
a{
    text-decoration: none;
    color: #dfdbdb;
}
button{
    cursor: pointer;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}

header {
  background-color: darkslateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;     /* ocupa toda a largura da tela */
  height: 80px;    /* altura fixa do cabeçalho */
  padding: 0 20px; /* espaço interno nas laterais */
}

.icon-cart{
    position: relative;
}
.icon-cart span{
    background-color: red;
    position: absolute;
    top: 50%;
    right:-20px;
    width: 30px;
    height: 30px;
    color:#fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: xx-large;
}

/*guia do carrinho*/

.cartTab{
    background-color: #353435;
    color: #eee;
    width: 400px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -400px; /* começa escondido */
    bottom: 0;
    display:grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.cartTab .btn .close{
    background-color: #eee;
}
.cartTab .listCart{
    overflow: auto;
}
.cartTab .listCart::-webkit-scrollbar{
    width: 0;
}
.cartTab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cartTab{
    right: 0;
}
body.activeTabCart .container {
    transform: translateX(-250px);
}

/*Cabeçalho ou barrinha onde ta localizado os links*/


nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separa links e título */
}

.menu {
  display: flex;
  justify-content: flex-start; /* força os links para a esquerda */
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.menu li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
}

.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
